/* Start Variables */
:root {
	--main-color: #19c8fa;
	--transpert-color: rgb(15 116 143 / 70%);
	--section-padding: 100px;
	--section-background: #f6f6f6;
}
/* End Variables */

/* Start Global Ruls */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Open Sans", sans-serif;
	min-width: 375px;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
ul {
	list-style: none;
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Ruls */
/* Start Component */
.main-heading {
	text-align: center;
}
.main-heading h2 {
	font-size: 40px;
	font-weight: normal;
	position: relative;
	margin-bottom: 70px;
	text-transform: uppercase;
}
.main-heading h2::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -30px;
	transform: translateX(-50%);
	height: 2px;
	width: 120px;
	background-color: #333;
}
.main-heading h2::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -38px;
	transform: translateX(-50%);
	height: 14px;
	width: 14px;
	border-radius: 50%;
	border: 2px solid #333;
	background-color: white;
}
.main-heading p {
	width: 550px;
	max-width: 100%;
	color: #777;
	margin: 0 auto 100px;
	line-height: 2;
}
/* End Component */
/*Start Header*/
header {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}
header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	min-height: 97px;
}
header .container::after {
	content: "";
	position: absolute;
	height: 1px;
	width: calc(100% - 30px);
	bottom: 0;
	left: 15px;
	background-color: #a2a2a2;
}
header .container .logo img {
	height: 40px;
}
header .container nav {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
header .container .toggle-menu {
	color: white;
	font-size: 22px;
}
@media (min-width: 768px) {
	header .container .toggle-menu {
		display: none;
	}
}
header .container nav ul {
	display: flex;
}

@media (max-width: 767px) {
	header .container nav ul {
		display: none;
	}
	header .container .toggle-menu:hover + ul {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	header .container nav ul li a {
		padding: 15px !important;
	}
}
header .container nav ul li a {
	padding: 40px 20px;
	display: block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	transition: 0.3s;
	position: relative;
	z-index: 2;
}
@media (max-width: 991px) {
	header .container nav ul li a {
		padding: 40px 10px;
	}
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
	z-index: 2;
}
header .container nav .form {
	width: 40px;
	height: 30px;
	position: relative;
	margin-left: 30px;
	border-left: 1px solid white;
}
header .container nav .form i {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}
/*End Header*/
/*Start landing Section*/
.landing {
	min-height: 100vh;
	background-image: url(/image/landing2.jpg);
	background-color: #1f2021;
	background-size: cover;
	position: relative;
}
.landing .overly {
	background-color: rgba(0, 0, 0, 40%);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.landing .text {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: white;
	background-color: var(--transpert-color);
	width: 50%;
	display: flex;
	justify-content: flex-end;
	padding: 50px;
}
.landing .text .content {
	max-width: 500px;
}
@media (max-width: 767px) {
	.landing .text {
		width: 100%;
	}
	.landing .text .content {
		max-width: 100%;
	}
}
.landing .text .content h2 {
	font-weight: normal;
	font-size: 32px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.landing .text .content p {
	line-height: 2;
	font-size: 14px;
}
.landing .chamge-background {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #ddd;
	font-size: 35px;
	cursor: pointer;
}
@media (max-width: 767px) {
	.landing .chamge-background {
		display: none;
	}
}
.landing .fa-angle-left {
	left: 30px;
}
.landing .fa-angle-right {
	right: 30px;
}
.landing .bullets {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	width: 80px;
}

.landing .bullets li {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid white;
	cursor: pointer;
}

.landing .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
/*End landing Section*/
/*Start Services Section*/
.services {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
	.services .services-content {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
		grid-column-gap: 40px;
		grid-column-gap: 60px;
	}
}
.services .services-content .serv-box {
	display: flex;
}
.services .services-content .serv-box i {
	color: #444;
	margin-right: 50px;
	/* flex-basis: 100px; */
}
@media (max-width: 767px) {
	.services .services-content .serv-box {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
	}
	.services .services-content .serv-box i {
		margin: 0 0 30px;
	}
}
/* .services .services-content .serv-box .text {
	flex: 1;
} */
.services .services-content .serv-box .text h3 {
	color: var(--main-color);
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 30px;
}
.services .services-content .serv-box .text p {
	color: #777;
	line-height: 2;
	font-size: 13px;
}
/*ÙEnd Services Section*/
/*Start Design Section*/
.design {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	display: flex;
	align-items: center;
	position: relative;
	background-image: url(/image/design-features.jpg);
	background-color: #1f2021;
	background-size: cover;
	height: 600px;
	overflow: hidden;
}
.design::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.4);
}
.design .image,
.design .text {
	position: relative;
	flex: 1;
	z-index: 2;
}
.design .image {
	/* position: absolute;
	bottom: -79px;
	left: 40%;
	transform: translateX(-40%); */
	text-align: center;
}
.design .image img {
	position: relative;
	bottom: -150px;
	height: 450px;
}
@media (max-width: 767px) {
	.design .image {
		display: none;
	}
}
.design .text {
	padding: 50px;
	background-color: var(--transpert-color);
	color: white;
}
.design .text h2 {
	font-weight: normal;
	font-size: 32px;
	line-height: 1.5;
	margin-bottom: 20px;
}
.design .text ul li {
	padding: 15px 0;
}
.design .text ul li::before {
	font-family: "Font Awesome 5 Free";
	content: "\f108";
	font-weight: 900;
	margin-right: 20px;
	position: relative;
	top: 1px;
}
/*End Design Section*/
/* Start Protfolio Section */
.portfolio {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
	display: flex;
	justify-content: center;
}
.portfolio .shuffle li {
	padding: 10px;
	cursor: pointer;
	transition: 0.3s;
}
.portfolio ul.shuffle li.active {
	background-color: var(--main-color);
	color: white;
}
.portfolio .imgs-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 60px;
}
.portfolio .imgs-container .box {
	position: relative;
	overflow: hidden;
}
@media (min-width: 768px) {
	.portfolio .imgs-container .box {
		flex-basis: 50%;
	}
	@media (min-width: 1119px) {
		.portfolio .imgs-container .box {
			flex-basis: 25%;
		}
	}
}
.portfolio .imgs-container .box:hover .caption {
	bottom: 0;
}
.portfolio .imgs-container .box:hover img {
	transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .box img {
	max-width: 100%;
	transition: 0.3s;
}
.portfolio .imgs-container .box .caption {
	position: absolute;
	bottom: -100%;
	left: 0;
	padding: 20px;
	background-color: white;
	width: 100%;
	transition: 0.3s;
}
.portfolio .imgs-container .box .caption h4 {
	font-weight: normal;
	margin-bottom: 5px;
}
.portfolio .imgs-container .box .caption p {
	color: var(--main-color);
	font-weight: normal;
}
.portfolio .more {
	background-color: var(--main-color);
	color: white;
	text-transform: uppercase;
	padding: 15px 20px;
	display: block;
	width: fit-content;
	margin: 30px auto;
	text-decoration: none;
}
/* End Protfolio Section */
/* Start Video Section */
.video {
	position: relative;
}
.video::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.4);
}
.video video {
	width: 100%;
}
.video .text {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	padding: 50px;
	background-color: var(--transpert-color);
	color: white;
}
@media (max-width: 767px) {
	.video .text {
		padding: 10px 20px;
	}
	.video .text h2 {
		margin-bottom: 10px !important;
		font-size: 1.2em;
	}
	.video .text p {
		margin-bottom: 10px !important;
	}
	.video .text button {
		padding: 5px 10px !important;
	}
}
.video .text h2 {
	margin: 0 0 30px;
	font-weight: normal;
	text-transform: uppercase;
}
.video .text p {
	margin-bottom: 20px;
}
.video .text button {
	background-color: black;
	color: white;
	padding: 10px 20px;
	border: none;
	text-transform: uppercase;
}
/* End Video Section */
/* Start About Section */
.about {
	padding-top: var(--section-padding);
	text-align: center;
	overflow: hidden;
}
.about .container img {
	position: relative;
	bottom: -120px;
	margin-top: -120px;
	max-width: 100%;
}
@media (max-width: 767px) {
	.about .container img {
		bottom: -60px;
		margin-top: -60px;
	}
}
/* End About Section */
/* Start State Section */
.state {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-image: url(/image/quote.jpg);
	text-align: center;
	background-size: cover;
	position: relative;
}
.state::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.7);
}
.state .container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.state .container .box {
	background-color: var(--transpert-color);
	color: white;
	padding: 50px;
}

@media (max-width: 767px) {
	.state .container .box {
		flex-basis: 100%;
	}
}
@media (min-width: 768px) {
	.state .container .box {
		flex-basis: 50%;
	}
}

@media (min-width: 992px) {
	.state .container .box {
		flex-basis: 25%;
	}
}
.state .container .box i {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 30px;
}
.state .container .box .number {
	font-weight: bold;
	font-size: 50px;
	margin: 0 0 20px;
}
.state .container .box p {
	font-size: 14px;
}
/* End State Section */
/* Start Skills Section */
.our-skills {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}
.our-skills .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	.our-skills .container > div {
		flex-basis: 45%;
	}
}
.our-skills .container > div > h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 30px;
	text-align: center;
}
.our-skills .container > div > p {
	color: #777;
	line-height: 2;
	margin-bottom: 60px;
	text-align: center;
}

.our-skills .testimonials .content {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.our-skills .testimonials .content img {
	width: 100px;
	margin-right: 50px;
	border-radius: 50%;
}
@media (max-width: 767px) {
	.our-skills .testimonials .content {
		flex-direction: column;
		text-align: center;
	}
	.our-skills .testimonials .content img {
		margin: 0 auto 20px;
	}
}
.our-skills .testimonials .content .text {
	line-height: 1.8;
	border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .content .text p {
	text-align: right;
	color: #777;
	font-size: 14px;
	margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 60px;
	margin: 50px auto;
}
.our-skills .testimonials .bullets li {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #aaa;
}
.our-skills .testimonials .bullets li.active {
	background-color: var(--main-color);
	border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
	margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 15px;
}
.our-skills .skills .prog {
	height: 30px;
	border: 1px solid #dadadc;
	background-color: #dadadc;
	/* position: relative */
}
.our-skills .skills .prog span {
	position: relative;
	background-color: var(--main-color);
	height: 100%;
	display: block;
}
.our-skills .skills .prog span::before {
	content: attr(data-progress);
	position: absolute;
	background-color: black;
	color: white;
	padding: 4px 0;
	width: 40px;
	text-align: center;
	top: -40px;
	right: -18px;
	border-radius: 4px;
}
.our-skills .skills .prog span::after {
	content: "";
	position: absolute;
	top: -15px;
	right: -6px;
	border-style: solid;
	border-width: 8px;
	border-color: black transparent transparent transparent;
}
/* End Skills Section */
/*  Start  quote Section */
.quote {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-image: url(/image/quote.jpg);
	background-size: cover;
	position: relative;
	color: white;
	text-align: center;
}
.quote::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.7);
}
.quote .container {
	position: relative;
}
.quote .container q {
	display: block;
	margin-bottom: 20px;
	font-size: 30px;
}
/* .quote .container q::before {
	content: "";
	font-family: "Font Awesome 5 Free";
	content: "\f10e";
	font-weight: 900;
	font-size: 10px;
	position: absolute;
} */
/*  End  quote Section */
/* Start pricing Section */
.pricing {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
}

.pricing .plans {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 30px;
}
.pricing .plans .plan {
	background-color: #fcfcfc;
	text-align: center;
}
.pricing .plans .plan .header {
	padding: 40px 20px;
	border-top: 1px solid var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .header h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.pricing .plans .plan .header span {
	font-size: 60px;
	font-weight: bold;
}
.pricing .plans .plan .header span::before {
	content: "$";
	position: relative;
	top: -40px;
	font-weight: normal;
	margin-right: 15px;
	font-size: 25px;
}
.pricing .plans .plan .header span::after {
	content: "/MO";
	position: relative;
	right: -15px;
	font-size: 25px;
	font-weight: normal;
}
.pricing .plans .plan ul {
	border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
	padding: 20px;
	position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
	content: "";
	position: absolute;
	width: 140px;
	height: 1px;
	background-color: var(--main-color);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.pricing .plans .plan .foot a {
	display: block;
	padding: 10px 25px;
	width: fit-content;
	background-color: white;
	margin: 10px auto;
	border: 1px solid var(--main-color);
	text-decoration: none;
}

.pricing .content-text {
	margin: 50px auto 20px;
	text-align: center;
	font-size: 20px;
}
.pricing .content-link {
	display: block;
	padding: 15px 30px;
	width: fit-content;
	background-color: var(--main-color);
	color: white;
	margin: 20px auto;
	text-decoration: none;
}
/* End pricing Section */
/* Start Subscribe Section */
.subscribe {
	padding-top: var(--section-padding);
	padding-bottom: var(--section-padding);
	background-image: url(/image/subscribe.jpg);
	background-size: cover;
	position: relative;
	color: white;
}
.subscribe::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 50%);
}
.subscribe .container {
	display: flex;
	align-items: center;
	position: relative;
}

@media (max-width: 991px) {
	.subscribe .container {
		flex-direction: column;
	}
}
.subscribe form {
	display: flex;
	position: relative;
	width: 500px;
	max-width: 100%;
}
.subscribe form i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 25px;
}
.subscribe form input[type="email"] {
	padding: 20px 20px 20px 60px;
	background: none;
	border: 1px solid white;
	color: white;
	border-right: none;
	caret-color: var(--main-color);
	width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
	width: 130px;
	color: white;
	background-color: var(--main-color);
	padding: 10px 20px;
	border: 1px solid white;
	border-left: none;
	text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
	outline: none;
}
.subscribe form ::placeholder {
	color: white;
}
.subscribe p {
	margin-left: 50px;
	line-height: 2;
}
@media (max-width: 991px) {
	.subscribe p {
		margin: 30px 0 0;
		text-align: center;
	}
}
/* End Subscribe Section */